spring:
  application:
    name: tdt-config-service
  cloud:
    config:
      server:
#        git:
#          uri: https://github.com/baruch2008/Spring-Cloud-Demo-3/
#          search-paths: TDT-Config,TDT-Config/db,TDT-Config/route
#          username: baruch2008
#          password: P@ssword123
        native:
          searchLocations: classpath:/config,classpath:/config/db,classpath:/config/route
  profiles:
    active: native  #native表示从本地资源中查找     
server:
  port: 8030
