spring:
  datasource:
    type: org.apache.commons.dbcp2.BasicDataSource
  redis:
    host: 127.0.0.1
    password: 
    port: 6379
    
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8000/eureka/
