spring:
  redis:
    host: 127.0.0.1
    password: 
    port: 6379
    timeout: 2000
    pool:
      max-active: -1
      max-wait: -1
      max-idle: 8
      min-idle: 2
  session:
    store-type: none
  zipkin:
    base-url: http://localhost:9017
  sleuth:
    sampler:
      percentage: 1
          
eureka:
  client:
    serviceUrl:
      defaultZone: http://192.168.154.180:8000/eureka/
  instance:
    preferIpAddress: true
    instance-id: ${spring.cloud.client.ipAddress}:${server.port}
          
tdt:
  tokenExpireTime: 3600 # The unit is second.
  project:
    sync:
      schedule: 0 0 23 * * ?
  isNeedAuthFilter: false
