spring:
  application:
    name: tdt-gateway-service
  http:
    multipart:
      maxFileSize: 10Mb
      maxRequestSize: 10Mb
  
server:
  port: 9000
             
zuul:
  sensitive-headers: isSuccess
  host:
    socket-timeout-millis: 30000
    connect-timeout-millis: 2000
    
app:
  product:
    name: TDT
    cookiename: ${app.product.name}_SESSION
    session:
      timeout: 30
      redisnamespace: ${app.product.name}

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 30000

ribbon:
  ReadTimeout: 30000
  ConnectTimeout: 30000
