spring:
  application:
    name: tdt-eureka-service
  
server:
  port: 8000

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    serviceUrl:
      defaultZone: http://localhost:${server.port}/eureka/
      
management:
  security:
    enabled: false
